<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <title>Jean Crepaldi</title>
    <!-- set your website meta description and keywords -->
    <meta name="description" content="Add your business website description here">
    <meta name="keywords" content="Add your business website keywords here">
    <!-- set your website favicon -->
    <link href="favicon.ico" rel="icon">

    <!-- Bootstrap Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Font Awesome Stylesheets -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Owl Carousel Stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Lightbox Stylesheets -->
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <!-- Parallax Stylesheets -->
    <link rel="stylesheet" href="~/css/parallax.css" type="text/css">
    <!-- Template Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <!-- Responsive Stylesheets -->
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css">
</head>
<body>
    <header id="header" class="header">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar top-bar"></span>
                                    <span class="icon-bar middle-bar"></span>
                                    <span class="icon-bar bottom-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.html">
                                    <img class="logo logo-white" src="~/images/logo.png" alt="logo">
                                    <img class="logo logo-color" src="~/images/logo-color.png" alt="logo">
                                </a>
                            </div><!--End navbar-header -->
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="active" href="#home">Home</a></li>
                                    <li><a href="#about">Sobre</a></li>
                                    <li><a href="#service">Serviços</a></li>
                                    <li><a href="#portfolio">Portfólio</a></li>

                                    <li><a class="last" href="#contact">Contato</a></li>
                                </ul>
                            </div><!--End navbar -->
                        </nav>
                    </div><!--End col -->
                </div><!--End row -->
            </div><!--End container -->
        </div><!--End header-nav -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-top clearfix">
                    <div class="col-sm-6">
                        <div class="columnbottom-margin recent-work-wrap">
                            <h4 class="widget-title">Recent <span>Work</span></h4>
                            <div class="latest-pfolio">
                                <div class="col-xs-4 no-space">
                                    <div class="portfolio-wrapper">
                                        <img src="images/portfolio/thumb/3.jpg" alt="Portfolio Title">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-overlay-inner">
                                                <div class="portfolio-overlay-content">
                                                    <div class="portfolio-link">
                                                        <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>
                                                        <a data-lightbox="recentwork" data-title="Image Preview" href="images/portfolio/3.jpg"><i class="fa fa-search-plus"></i></a>
                                                    </div><!--End portfolio-link -->
                                                </div><!--End portfolio-overlay-content -->
                                            </div><!--End portfolio-overlay-inner -->
                                        </div><!--End portfolio-overlay -->
                                    </div><!--End portfolio-wrapper -->
                                </div><!--End ./col- -->
                                <div class="col-xs-4 no-space">
                                    <div class="portfolio-wrapper">
                                        <img src="images/portfolio/thumb/6.jpg" alt="Portfolio Title">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-overlay-inner">
                                                <div class="portfolio-overlay-content">
                                                    <div class="portfolio-link">
                                                        <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>
                                                        <a data-lightbox="recentwork" data-title="Image Preview" href="images/portfolio/6.jpg"><i class="fa fa-search-plus"></i></a>
                                                    </div><!--End portfolio-link -->
                                                </div><!--End portfolio-overlay-content -->
                                            </div><!--End portfolio-overlay-inner -->
                                        </div><!--End portfolio-overlay -->
                                    </div><!--End portfolio-wrapper -->
                                </div><!--End ./col- -->
                                <div class="col-xs-4 no-space">
                                    <div class="portfolio-wrapper">
                                        <img src="images/portfolio/thumb/4.jpg" alt="Portfolio Title">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-overlay-inner">
                                                <div class="portfolio-overlay-content">
                                                    <div class="portfolio-link">
                                                        <a title="Details" href="single-portfolio.html"><i class="fa fa-link"></i></a>
                                                        <a data-lightbox="recentwork" data-title="Image Preview" href="images/portfolio/4.jpg"><i class="fa fa-search-plus"></i></a>
                                                    </div><!--End portfolio-link -->
                                                </div><!--End portfolio-overlay-content -->
                                            </div><!--End portfolio-overlay-inner -->
                                        </div><!--End portfolio-overlay -->
                                    </div><!--End portfolio-wrapper -->
                                </div><!--End ./col- -->
                            </div><!--End latest-portfolio -->
                            <div class="clearfix"></div>
                        </div><!-- end recent-work-wrap -->
                    </div><!-- end col -->
                    <div class="col-sm-6">
                        <div class="columnbottom-margin contact-info-wrap">
                            <h4 class="widget-title">Contato <span>Details</span></h4>
                            <ul class="contact-info list-unstyled">
                                <li><i class="fa fa-home"></i> Rua Conceição do Formoso - São Paulo</li>
                                <li><i class="fa fa-phone"></i> <a href="tel:(11) 9 7438-9416">(11) 9 7438-9416</a></li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:jean.mcrepaldi@hotmail.com">jean.mcrepaldi@hotmail.com</a></li>
                            </ul><!-- end contact-info  -->

                            <ul class="list-inline list-social clearfix">
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-gplus">
                                        <i class="fa fa-google-plus"></i>
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-vimeo">
                                        <i class="fa fa-vimeo"></i>
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-pinterest">
                                        <i class="fa fa-pinterest"></i>
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon social-icon-small social-icon-linkedin">
                                        <i class="fa fa-linkedin"></i>
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul><!-- end list-social -->
                        </div><!-- end contact-info-wrap -->
                    </div><!-- end col -->
                </div><!-- end footer-top  -->
            </div><!-- end row -->
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <a href="" class="footer-logo-link"><img class="footer-logo" src="images/footer-logo.png" alt="Steve"></a>
                    <p class="text-center copyright">&copy; 2020 <a href="#" class="footer-site-link">Jean Crepaldi</a> All rights reserved. </p>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer>
    <!-- jQuery Library -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Circle Progress Js -->
    <script src="~/js/circle-progress.js"></script>
    <!-- Isotope Filtring Js -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- Lightbox Js -->
    <script src="~/js/lightbox.min.js"></script>
    <!-- owl.carousel Js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Form validator Js -->
    <script src="~/js/validator.min.js"></script>
    <!-- ajaxchimp Js -->
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <!-- counterup Js -->
    <script src="~/js/waypoint.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Template main Js -->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
