@{
    ViewData["Title"] = "Home Page";
}

    <section id="home" class="home">
        <div class="home-top-banner banner-1">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="banner-content banner-content-fullwidth">
                                    <h3>Olá, Meu Nome é</h3>
                                    <h1 class="header-title-text type-animate">
                                        <a href="" class="typewrite" data-period="2000" data-type='[ "Jean Mota Crepaldi" ]'>
                                            <span class="wrap"></span>
                                        </a>&nbsp;
                                    </h1>
                                    <ul class="list-inline list-social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/jean-crepaldi-3a8a21115/" class="social-icon social-icon-linkedin" target="_blank">
                                                <i class="fa fa-linkedin"></i>
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/jeancrepaldi/" class="social-icon social-icon-instagram" target="_blank">
                                                <i class="fa fa-instagram"></i>
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/jean.mcrepaldi/" class="social-icon social-icon-facebook" target="_blank">
                                                <i class="fa fa-facebook"></i>
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!--End banner-content -->
                            </div><!--End col-sm-12 -->
                        </div><!--End row -->
                    </div><!--End container -->
                </div><!--End display-table-cell -->
            </div><!--End display-table -->
        </div><!--End home-top-banner -->
    </section>
    <section id="about" class="about about-timeline-style">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- start section title-wrap -->
                    <div class="title-wrap">
                        <div class="section-title-box">
                            <h2 class="section-title">Sobre <strong>Mim</strong></h2>
                        </div><!-- end section-title-box -->
                    </div>
                    <!-- end section title-wrap -->
                </div><!-- end col -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="profile-image">
                                <img src="images/profile/profile-image-1.jpg" alt="profile photo">
                            </div><!-- end profile-image -->
                        </div><!-- end col -->
                        <div class="col-sm-6">
                            <div class="about-text">
                                <p>Me chamo Jean Mota Crepaldi tenho 22 anos de idade.</p>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                                <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                                <div class="button-holder">
                                    <a class="btn btn-shutter-out-horizontal" href="#">Download Curriculo</a>
                                    <a class="btn btn-shutter-out-horizontal" href="#contact">Entre em Contato</a>
                                </div><!-- end button-holder -->
                            </div><!-- about-text -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col-sm-12 -->
                <div class="col-sm-12">
                    <div class="nav-tab-menu">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <button data-toggle="tab" data-target="#tab1" aria-expanded="true">
                                    <i class="fa fa-paper-plane-o"></i>
                                    <span class="tab-title text-bold"> Experiência </span>
                                </button>
                            </li>
                            <li>
                                <button data-toggle="tab" data-target="#tab2" aria-expanded="false">
                                    <i class="fa fa-graduation-cap"></i>
                                    <span class="tab-title text-bold"> Formação </span>
                                </button>
                            </li>
                            <!-- <li>
                            <button data-toggle="tab" data-target="#tab3" aria-expanded="false">
                                <i class="fa fa-trophy"></i>
                                <span class="tab-title text-bold">Award</span>
                            </button>
                        </li> -->
                            <li>
                                <button data-toggle="tab" data-target="#tab4" aria-expanded="false">
                                    <i class="fa fa-diamond"></i>
                                    <span class="tab-title text-bold"> Habilidades </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="icon-holder experience">
                                <i class="fa fa-paper-plane-o"></i>
                                <span class="tab-content-title text-bold">Experiência</span>
                            </div>
                            <ul class="timeline">
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">Abr 2020 - Atual</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Target Engenharia e Consultoria Ltda</h4>
                                            <h5>Analista de Suporte / Infraestrutura</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!--end timeline-panel -->
                                </li><!-- end timeline-right -->
                                <li class="timeline-left">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date">Out 2018 - Mar 2020</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Openness Technology</h4>
                                            <h5>Analista de Suporte</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-left -->
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">Out 2017 - Out 2018</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Fox Solution</h4>
                                            <h5>Analista de Suporte</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-right -->
                                <li class="timeline-left">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date">Out 2018 - Mar 2020</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Retail Services</h4>
                                            <h5>Analista de Suporte</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-left -->
                            </ul><!-- end timeline -->
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="icon-holder education">
                                <i class="fa fa-graduation-cap"></i>
                                <span class="tab-content-title text-bold">Formação</span>
                            </div>
                            <ul class="timeline">
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">2020 - Atual</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                                            <h5>Universidade Cidade de São Paulo</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-right -->
                                <li class="timeline-left">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date">2016</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Curso Técnico</h4>
                                            <h5>Clarify</h5>
                                            <p>C# .Net e ASP.Net MVC</p>
                                        </div>
                                    </div><!--end timeline-panel -->
                                </li><!-- end timeline-left -->
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">2014 - 2016</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Técnico em Informática</h4>
                                            <h5>Senac</h5>
                                            <p>-Qualificação Profissional Técnica de Assistente de Suporte e Manutenção de Computadores.</p>
                                            <p>-Qualificação Profissional Técnica de Assistente de Operação de Redes de Computadores.</p>
                                            <p>-Qualificação Profissional Técnica de Assistente de Desenvolvimento de Aplicativos Computacionais.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-right -->
                                <li class="timeline-left">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date">Finalizado em 2014</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>Ensino Médio</h4>
                                            <h5>Colegio Gênios do Futuro</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-left -->
                            </ul><!-- end timeline -->
                        </div>
                        <div id="tab3" class="tab-pane fade">
                            <div class="icon-holder education">
                                <i class="fa fa-trophy"></i>
                                <span class="tab-content-title text-bold">Award</span>
                            </div>
                            <ul class="timeline">
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">May 2017</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>People Awards</h4>
                                            <h5>Institute Name</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!--end timeline-panel -->
                                </li><!-- end timeline-right -->
                                <li class="timeline-left">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date">April 2016</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>People Awards</h4>
                                            <h5>Institute Name</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-left -->
                                <li class="timeline-right">
                                    <div class="timeline-badge">
                                        <i class="fa fa-calendar"></i>
                                        <p class="date-inverted">August 2015</p>
                                    </div><!-- end timeline-badge -->
                                    <div class="timeline-panel">
                                        <div class="experience-content">
                                            <h4>People Awards</h4>
                                            <h5>Institute Name</h5>
                                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks.</p>
                                        </div>
                                    </div><!-- end timeline-panel -->
                                </li><!-- end timeline-right -->
                            </ul><!-- end timeline -->
                        </div>
                        <div id="tab4" class="tab-pane fade">
                            <div class="row">
                                <div class="progressbar-wrap">
                                    <div class="col-xs-3">
                                        <div class="progressbar" data-animate="false">
                                            <div class="circle" data-percent="83.5" data-color="#04b962">
                                                <div></div>
                                                <p>HTML5</p>
                                            </div><!-- end circle -->
                                        </div><!-- end progressbar -->
                                    </div><!-- end col -->
                                    <div class="col-xs-3">
                                        <div class="progressbar" data-animate="false">
                                            <div class="circle" data-percent="70.8" data-color="#04b962">
                                                <div></div>
                                                <p>CSS3</p>
                                            </div><!-- end circle -->
                                        </div><!-- end progressbar -->
                                    </div><!-- end col -->
                                    <div class="col-xs-3">
                                        <div class="progressbar" data-animate="false">
                                            <div class="circle" data-percent="8.58" data-color="#04b962">
                                                <div></div>
                                                <p>.NET</p>
                                            </div><!-- end circle -->
                                        </div><!-- end progressbar -->
                                    </div><!-- end col -->
                                    <div class="col-xs-3">
                                        <div class="progressbar" data-animate="false">
                                            <div class="circle" data-percent="92.5	" data-color="#04b962">
                                                <div></div>
                                                <p>Infraestrutura</p>
                                            </div><!-- end circle -->
                                        </div><!-- end progressbar -->
                                    </div><!-- end col -->
                                </div><!-- end progressbar-wrap -->
                            </div><!-- end row -->
                        </div>
                    </div><!-- end tab-content -->
                </div><!-- end col-sm-12 -->

            </div><!-- end row -->
        </div><!-- end container -->
    </section>


